/* corps */

body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  
}

/* titre */
h1  {
     background: rgb(0,255,254);
    background: linear-gradient(90deg, rgba(0,255,254,1) 0%, rgba(255,213,76,1) 49%, rgba(0,255,254,1) 100%);;
    color: white;
    text-align: center;
    font-size: 3em;   
}

p {
    text-align: justify;
    font-size: 20px;
}



/* image centre */
.img {
    display: flex;
    align-items: center;
    justify-content: center;
   

}


img {
     display: flex;
    clip-path: ellipse(50% 50%);
    margin:  100px;

}
/*  les ombres & bordues */
li  {
    box-shadow: 1px 1px 1px rgba(226, 249, 255, 0.58);
    border-radius:10% ;
      
}

.box {
  border: 5px solid rgb(248, 230, 110);
  border-radius: 1em;
  border-top-right-radius: 10% 90%;
}

/*  tableau */
table {
 color: rgb(35, 38, 38);
  border-collapse: collapse;
  width: 100%;
 
}
td, th {
  border: 0px solid #857102;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #13d8ff3b;
}
caption {
    caption-side: bottom;
}

/*  sous titre */
h2 {
    background: rgb(0,80,255);
    background: linear-gradient(90deg, rgba(0,80,255,1) 0%, rgb(62, 192, 196) 48%, rgba(252,252,252,1) 94%);
    color: white;
    text-align: center;
    
}

.colore  {
    background-color: rgb(202, 239, 255);
    
}



/*  passage de sourie coloré */

@media (hover: hover) {
    h1:hover {
        background: rgb(1, 109, 25);
    }
}



/* titre animation */
h1, h2 {
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count: initial;
}
.infini {
  animation-iteration-count: initial;
}
.dix {
  animation-iteration-count: 10;
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


